html{
  font-family: 'Press Start 2P', cursive;
  }

body{
background-image: url("https://www.tynker.com/projects/images/5a4c48771c36d1b9278b458e/background-scene---soccer-field.png");
background-size: cover;
}

.grid {
  display: grid;
  grid-template: auto auto auto / auto auto;
  grid-template-areas:
    "gym-name gym-name"
    "trainer1 trainer2"
    "trainer3 trainer4";
    justify-items: center;
    grid-row-gap: 50px;
    width: 90%;
    margin: 0 auto;
}

.show-stats {
  margin-top: 50%;
}

#gym-name{
  text-align: center;
grid-area: gym-name;
}

.trainer {
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  grid-gap: 10px;
}

.trainer img {
  width: 100px;
}

#trainer1 {
  grid-area: trainer1;
  grid-template-areas:
  "trainerSprite btn pokeName"
  "trainerSprite btn pokeSprite"
  "crystal-poke crystal-poke crystal-poke";

}
#trainer2 {
  grid-area: trainer2;
}
#trainer3 {
  grid-area: trainer3;
}
#trainer4 {
  grid-area: trainer4;
}

.pokeTeam {
  background-color: black;
  padding: 20px;
  color: white;
  line-height: 1.5em;
  width: 100%;
  list-style-type: none;
}
